.container {
    margin-left: 38.3%;
    width: 23.3%;
    padding-top: 8% ;
  }
  
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 8px;
  }
  .container .card img{
      width: 100%;
  }
.innercontainer{
    padding-left: 2%;

}

  
